.card {
  margin: 20px;
  position: relative;
  width: 320px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: block;
}

.poster {
  display: block;
}

.card .poster {
  position: relative;
  overflow: hidden;
  user-select: none;
}

.card .poster::before {
  content: '';
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(7, 7, 7) 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.card:hover .poster::before {
  bottom: 0px;
}
.card .poster img {
  width: 100%;
  transition: 0.5s;
}

.card:hover .poster::before img {
  transform: translateY(-50px);
  filter: blur(5px);
}

.card .details {
  position: absolute;
  width: 100%;
  bottom: -145px;
  left: 0;
  padding: 20px;
  z-index: 2;
  transition: 0.5s;
}

.card:hover .details {
  bottom: 0px;
}

.card .details .logo {
  max-width: 250px;
  max-height: 200px;
}

.card .details .title {
  font-size: 2em;
  color: #fff;
  line-height: normal;
  margin-bottom: 5px;
  margin-top: 10px;
}

.card .details h3 {
  font-size: 0.8em;
  color: #fff;
}

.card .details .rating {
  position: relative;
  padding: 5px 0;
}

.card .details .starRating {
  position: relative;
  display: inline-block;
  font-size: 1em;
  background-image: linear-gradient(90deg, #f7f406 50%, transparent 50% );
  
}


/* aqui colocar para ficar so as estrelas dessa cor */
.card .details .rating .stars {
  color: #f7f406;
  background-color: transparent;
  font-size: 1em;
}

.card .details .rating .rate {
  color: #fff;
  margin-left: 10px;
}

.card .details .tags {
  position: relative;
  margin-top: 5px;
}

.card .details .tags span {
  margin-right: 5px;
  padding: 4px 6px;
  color: #fff;
  border-radius: 4px;
  background-color: rgb(133, 6, 6);
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* background-color: #03a8f5; */
}

.card .details .tags span:nth-child(2) {
  background-color: #0b3770;
  /* background-color: #ff5722; */
}

.card .details .info {
  color: #fff;
  margin-top: 20px;
}

.card .details .cast {
  position: relative;
}

.card .details .cast h4 {
  color: #fff;
  margin-top: 10px;
}

.card .details .cast ul {
  position: relative;
  display: flex;
  margin-top: 10px;
}

.card .details .cast ul li {
  list-style: none;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
}

.card .details .cast ul li img {
  max-width: 100%;
}

/* .card .details .rating meter {
  position: absolute;
  left: 0;
  width: 28%;
  z-index: -1;
  outline: 0 none;
  border: 0 none;
  top: 8px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  border: 1px solid #fff;
  background-color: #f7f406;
  border-radius: 3px;
  backdrop-filter: blur(5px);
} */

